name: CD - Deploy to ECS

on:
  workflow_run:
    workflows: ["CI - Build & Push Strapi Image"]
    types:
      - completed

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Terraform Init
        working-directory: terraform
        run: terraform init

      - name: Terraform Apply (update image)
        working-directory: terraform
        run: |
          terraform apply -auto-approve \
          -var="image_url=${{ secrets.ECR_REPO }}:${{ github.event.workflow_run.head_sha }}"
